<% content_for :title, "Dashboard" %>
<section class="content-header">
      <h1>
        DASHBOARD
      </h1>
       <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default">Daily</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/dashboard/progress">Progress</a></li>
                  </ul>
        </div>

    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3" id="left-side">
<div class="box box-solid">
            <!-- /.box-header -->
            <div class="box-body">
              <div class="box-group" id="accordion">
                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                       ON GOING TASK
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <% running_task = get_user_running_task %>
										<% unless running_task.nil? %>
                    <div class="box-body">

                        <div>
													<h4> <%= running_task.title %></h4>
                          <%= running_task.desc %>
                        </div>
                        <a href="/dashboard/end_running_task" class="btn btn-sm bg-blue"> End </a>

                    </div>
										<% else %>
                    <div class="box-body">
                      <div id="inline">
                        <div>
                          <h4> No running task</h4>
                          Time is ticking, do something!
                        </div>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>
                <div class="panel box box-success">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        QUICK START
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="box-body">
                      <div class="row">
                        <div class="col-sm-12 form-group">
                         <label for="title">Task ID:</label>
                         <select id="title" class="form-control task_id" style="width: 100%">
                         </select>
                       </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 form-group">
                          <% if running_task.nil? %>
                          <a href="" id="start_btn" class="btn btn-sm btn-success">Start now</a>
                          <% else %>
                          <label> please end the current running task before start other task</label>
                          <% end %>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            </div>
<div class="time">
            <div id="time"> </div>
          </div>
            <!-- /.box-body -->

        </div>

        <div class="col-md-5" id="box-calendar">
          <div class="box box-primary">
          <div id="calendar-title" class="text-center"> PLAN </div>
            <div class="box-body no-padding">
              <!-- THE CALENDAR -->
              <div id="planned-calendar"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4" id="box-calendar">
        <div class="box box-primary">
         <div id="calendar-title" class="text-center"> REALIZATION </div>
            <div class="box-body no-padding">
              <!-- THE CALENDAR -->

          <div id="realization-calendar"></div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>

        <script type="text/javascript">
         $(function () {
    function checkTime(i) {
        return (i < 10) ? "0" + i : i;
    }

    $('.task_id').select2({
        ajax: {
            url: "/conduit/search_task",
            data: function (params) {
                var query = {
                context: params.term
            };
            return query;
            },
            delay: 250,
            dataType: "json",
            processResults: function(data) {
            var myRes = [];
            $.each(data['result']['data'], function(index, item){
                myRes.push({
                    'id' : item['id'],
                    'text' : "(" + item['id'] + ") " + item['fields']['name'],
                });
            });
            return { 'results': myRes }
            }
        }
    });
    $('.task_id').on('select2:select', function(data) {
        $('.loading-screen').show();
        var param = "T" + $(data.currentTarget).find("option:selected").val();
        $.getJSON('/conduit/search_task',{context: param},function(data) {
            var arr = $.map(data['result']['data'], function(el) { return el });
            $('#start_btn').attr("href","/dashboard/start_task/"+arr[0]['id']);
            $('.loading-screen').hide();
        });
    });

	$(document).ready(function() {
    var error_count_down = 10;
    function startTime() {
        var today = new Date(),
            h = checkTime(today.getHours()),
            m = checkTime(today.getMinutes()),
            s = checkTime(today.getSeconds());
        document.getElementById('time').innerHTML = "<i class='fa fa-clock-o'></i>" + h + ":" + m + ":" + s;
        t = setTimeout(function () {
            startTime()
        }, 500);
    }
    startTime();
  });
	});
        </script>
