<% content_for :title, "Progress" %>
<section class="content-header">
	<h1>
		DASHBOARD
	</h1>
 <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default">Progress</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/dashboard">Daily</a></li>
                  </ul>
        </div>


</section>

<section class="content">
	<div class="col-lg-4 box box-solid">
		<div class="box-header with-border">
			<h4 class="col-lg-2 box-title pull-left ">RESOLVED TASK</h4>
			<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 20%">
				<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
				<span></span> <b class="caret"></b>
			</div>
		</div>
		<div class = "row">
			<div class="col-xs-7 col-sm-6 col-lg-5 box-body">
				<div id="external-events" class="external-events-other"></div>
			</div>
			<div class="col-xs-7 col-sm-6 col-lg-7 box-body">
				<div class="row" id="box-of-content">
					<div class="col-md-5">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3 align="center" class="panel-title">Task I Have Done This Week</h3>
							</div>
							<div class="panel-body" id="amount_of_task">
								<h4 align="center">0 Tasks</h4>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3 align="center" class="panel-title">Total Hours for Work</h3>
							</div>
							<div class="panel-body" id="amount_of_time">
								<h4 align="center">0 Hours</h4>
							</div>
						</div>
					</div>
				</div> 
			</div>  
		</div>
	</div>
</section>


<script type="text/javascript">

$(function() {

	var start = moment().subtract(29, 'days');
	var end = moment();

	function cb(start, end) {
		$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
		start = start.format('YYYY-MM-D 00:00:00');
		end = end.format('YYYY-MM-D 23:59:59');
		retrieve_task(start, end);
		retrieve_time(start, end);
	}

	function retrieve_task(start, end){
	    $.getJSON('/dashboard/retrieve_task',{start : start, end: end},function(data) {
	        var arr = $.map(data['result']['data'], function(el) { return el });
	        var events = document.getElementById("external-events");
	        var tasks = document.getElementById("amount_of_task");
	        var htmlElements = "";
	        var amount_of_task='<h4 align="center">'+arr.length+' Tasks</h4>';

	        if (arr.length > 0){
	        	for (i = 0; i < arr.length; i++) {
	        		htmlElements += '<div class="external-event bg-blue">'+ "(" + arr[i]['id'] + "): "  + arr[i]['fields']['name'] +'</div>';
				}
	        } else {
	        	htmlElements = '<h2 align="center">NO TASK FOUND</h2>';
	        }
			events.innerHTML = htmlElements;
			tasks.innerHTML = amount_of_task;
	    });    
	}

	function retrieve_time(start, end){
		$.getJSON('/dashboard/retrieve_time',{start : start, end: end},function(data) {
			var arr = $.map(data, function(el) { return el });
			var timeElement;
			if(arr[0]['start_hour'] === undefined){
				alert("hoy");
				timeElement ='<h4 align="center">0 Hours 0 Minute</h4>';
			} else{
				var start = (arr[0]['start_hour']+arr[0]['start_minute']);
				var end = (arr[0]['end_hour']+arr[0]['end_minute']);
				var hours = Math.floor((end-start)/60);
				var minute = (end-start)%60;
				var hoursSpent = document.getElementById("amount_of_time");
				timeElement ='<h4 align="center">'+ hours +' Hours '+ minute +' Minute</h4>';				
			}
			hoursSpent.innerHTML= timeElement;
	    });
	}


	$('#reportrange').daterangepicker({
		startDate: start,
		endDate: end,
		ranges: {
			'Last 7 Days': [moment().subtract(6, 'days'), moment()],
			'Last 30 Days': [moment().subtract(29, 'days'), moment()],
			'This Month': [moment().startOf('month'), moment().endOf('month')],
			'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
		}
	}, cb);

	cb(start, end);

	$(".dropdown").on('click', 'li a', function(){
		$(".btn:first-child").text($(this).text());
		$(".btn:first-child").val($(this).text());
   });
});
</script>