<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Jadvalee | Login </title>
    <meta name="description" content="Login Jadvalee">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/ui/1.11.4/jquery-ui.min.js', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>
    <%= javascript_include_tag "https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" %>
  </head>
  <style>
    footer {
      position: fixed;
      bottom: 0;
      width: 100vw;
    }

    .img-responsive {
      margin: 0 auto;
      width: 350px;
    }

    .btn {
      width: 350px;
    }

    #top_blank {
      height: 30vh;
    }

    #content {
      text-align: center;
    }

    #login-button{
      color: white;
      background-color: #1a998c;
    }
  </style>
  <body class="hold-transition skin sidebar-mini sidebar-collapse">
    <div id="top_blank">
    </div>
    <div id="content">
        <div class="row">
          <div class="col-md-12">
            <img class="img img-responsive" src="images/logo.png">
          </div>
          <div class="col-md-12">
            <a href="<%= oauth_url %>" class="btn btn-lg center-block" id="login-button"> Login Using Phabricator Account </a>
          </div>
        </div>
    </div>
    <footer class="main-footer">
      <div class="pull-right">
        <a href="http://peentar.com"> Peentar</a> | <a href="http://teamjadvalee.wordpress.com"> Blog </a>
      </div>
      <div class="text-center"> PPLD1 - Team Jadvalee | 2017 </div>
    </footer>  
  </body>
</html>
