	<% content_for :title, "Search" %>
	<div class="se-pre-con"></div>
	<section class="content-header">
		<h1>
			SEARCH AND FILTER
		</h1>
		<form class="navbar-form pull-right" role="search">
			<div class="input-group add-on">
				<input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
			</div>
		</form>
	</section>

	<section class="content">
		<div class="col-lg-4 box box-solid searchContent" style="height: auto;">
			<div class="box-header with-border">
				<ul class="nav nav-tabs">
					<li id= "people-tab" class = "active"><a data-toggle="tab" href="#people">People</a></li>
					<li id= "team-tab"><a data-toggle="tab" href="#team">Team</a></li>
				</ul>
			</div>
			<div class="row tab-content" id="search_result">
				<div id="people" class="tab-pane fade in active">
					<!-- div for search people -->
					<div id="search-people">
						<div class="row">
							<div class="col-xs-13 col-sm-12 col-lg-11 box-body pull-center">
								<div class="row"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="team" class="tab-pane fade">
					<!-- div for search team -->
					<div id="search-team">
						<div class="row">
							<div class="col-xs-13 col-sm-12 col-lg-11 box-body pull-center">
								<div class="row"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="modal fade" id="people_details">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
					<div id="user-title"></div>
				</div>
				<div class="modal-body">
					<div id="user-name"></div>
					<div class="box-header with-border" id="user-details">
						<div class="pull-right" id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 20%">
							<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp; <span></span> <b class="caret"></b>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-11 col-lg-10 box-body">
							<h4>COMPLETED TASK:</h4>
						</div>
						<div class="col-xs-10 col-sm-9 col-lg-8 box-body">
							<div class="external-events-other" id="external-events"></div>
						</div>
						<div class="col-xs-6 col-sm-5 col-lg-4 box-body">
							<div class="panel panel-success">
								<div class="panel-heading" id="task-panel-title"></div>
								<div class="panel-body" id="amount_of_task"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
					</button>
					<h4 class="modal-title" id="modalLabel"></h4>
				</div>
				<div id="modal_result" class="modal-body" style="overflow:auto">
					<div class="timetable"></div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">

		var start = moment().subtract(29, 'days');
		var end = moment();

		$(document).ready(function() {
			$('.loading-screen').show();
		    searchProject("");
   			retrieve_people(start, end, '');
		});

		var delay = (function(){
			var timer = 0;
			return function(callback, ms){
				clearTimeout (timer);
				timer = setTimeout(callback, ms);
			};
		})();

		$(function () {
		    var minlength = 3;

			$("#srch-term").keyup(function () {
				delay(function(){
					var value = $('#srch-term').val();
					var tabStatus = document.getElementById("team-tab");
					
					 if ($('#team-tab').hasClass('active')){
					 	searchProject(value);
					 } else{
					 	retrieve_people(start, end, value)
					 }
					
				}, 400 );	
			});	

			$('#reportrange').daterangepicker(
				{
					startDate: start,
					endDate: end,
					ranges: {
						'Last 7 Days': [moment().subtract(6, 'days'), moment()],
						'Last 30 Days': [moment().subtract(29, 'days'), moment()],
						'This Month': [moment().startOf('month'), moment().endOf('month')],
						'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
					}
				}, function(start, end) {
					$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
					start = start.format('YYYY-MM-D 00:00:00');
					end = end.format('YYYY-MM-D 23:59:59');
	   	 			retrieve_modal_task(start, end, phid);
				}
			);
		});

		function searchProject(value){
			$.getJSON('/conduit/search_project',{name_like : value},function(data) {
				// 
		    	var project = $.map(data, function(el) { return el });
		        var events = document.getElementById("search-team");
		        var htmlElements = "";
		        var modals= "";
		        
		        if (project.length > 0){
		        	$('#search-team').empty();
		        	for (i = 0; i < project.length; i++) {
		        			$('#search-team').append('<div class="col-xs-5 col-sm-4 col-lg-3"> <div class="panel panel-success"><div class="panel-body"><i class="fa fa-users fa-4x" style="padding-left: 85px;"></i></div><div class="panel-footer"><div style="text-align:center"><a id="'+project[i]['phid']+'" class="projectName" data-toggle="modal" href="#myModal" data-target="#myModal" data-tname="'+ project[i]['project name'] +'">' + project[i]['project name'] + '</a></div></div></div></div>');

		        			if (project[i]['members'].length > 0) {
		        				display_member(project[i]['members'], project[i]['phid'])
							} else {
								document.getElementById(project[i]['phid']).setAttribute("data-tmembername", "No Members Found in This Project");
								document.getElementById(project[i]['phid']).setAttribute("data-tmemberschedule", "No schedules");
							}
		        			
					}
		        } else {
		        	 $('#search-team').html('<h2 align="center">NO RESULT FOUND</h2>');
		        }
		    }).done(function() {
		    $('.loading-screen').hide();
		  });
		}

		function retrieve_people(start, end, name){
			$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
			start = start.format('YYYY-MM-D 00:00:00');
			end = end.format('YYYY-MM-D 23:59:59');

			$.getJSON('/conduit/search_user',{name_like: name},function(data) {
				var arr = $.map(data['result']['data'], function(el) { return el });
				var people = document.getElementById("search-people");
				var htmlElements = "";

				if (arr.length > 0){
					for (i = 0; i < arr.length; i++) {
						var name = arr[i]['fields']['realName'];
						phid = arr[i]['phid'];
						var username = arr[i]['fields']['username'];
						var names = name.split(" ");

						if(names.length > 2){
							name = names[0] + " " + names[1];
						}

						htmlElements += '<div class="col-xs-5 col-sm-4 col-lg-3"> <div class="panel panel-success"><div class="panel-body"><i class="fa fa-user-circle-o fa-5x" style="padding-left: 85px;"></i></div><div class="panel-footer"><div style="text-align:center"><a id="'+ phid +'" class="userName" data-toggle="modal" href="#people_details" data-target="#people_details" data-tname="'+ name +'" data-tuser="'+ username +'" data-tphid="'+ phid +'"><h4 align="center">' + name +'</h4><h5 align="center">' + username + '</h5></a></div></div></div></div>';

						retrieve_task(start,end, phid, name);
					}
				} else {
					htmlElements = '<h2 align="left">NO USER FOUND<\/h2>';
				}
				people.innerHTML = htmlElements;
			}).done(function() {
			    $('.loading-screen').hide();
			});
 		}

 		function retrieve_task(start, end, phid, name){

			$.getJSON('/dashboard/retrieve_task',{start: start, end: end, user_id: phid},function(data) {
				var arr = $.map(data['result']['data'], function(el) { return el });
				var detail = [];
				var details = [];

				if(arr.length > 0){
					for (i = 0; i < arr.length; i++) {
						detail = [ arr[i]['id'], arr[i]['fields']['name']];
						details.push(detail);
					}
					document.getElementById(phid).setAttribute("data-ttask", details);
				} else {
					document.getElementById(phid).setAttribute("data-ttask", "No Task Found");
				}
			});    
		}

		function retrieve_modal_task(start, end, phid){
			$.getJSON('/dashboard/retrieve_task',{start: start, end: end, user_id: phid},function(data) {
				var arr = $.map(data['result']['data'], function(el) { return el });
				var modal = document.getElementById(phid);
		        var events = document.getElementById("external-events");
		        var tasks = document.getElementById("amount_of_task");
		        var htmlElements = "";
		        var amount_of_task='<h4 align="center">'+ arr.length +' Tasks</h4>';

		        if(arr.length > 0){
		        	for (i = 0; i < arr.length; i++) {
		        		htmlElements += '<div class="external-event bg-blue">'+ "(" + arr[i]['id'] + "): "  + arr[i]['fields']['name'] +'</div>';
					}
		        } else {
		        	$('#external-events').empty();
		        	htmlElements = '<h2 align="center">NO TASK FOUND</h2>';
		        }
				events.innerHTML = htmlElements;
				tasks.innerHTML = amount_of_task;
			});    
		}

		$('#people_details').on('show.bs.modal', function(e) {
			phid = e.relatedTarget.dataset.tphid;
			var name = e.relatedTarget.dataset.tname;
			var task = e.relatedTarget.dataset.ttask;

			var modal_user = '<h3 class="modal-title">'+ name +'</h3>';
			var modal_task = '<h3 align="center" class="panel-title"> Task ' + name + ' Has Done This Week</h3>';

			var htmlElements ="";
			var events = "";

			var container = document.getElementById("external-events");
			var amount = document.getElementById("amount_of_task");

			document.getElementById("user-title").innerHTML = modal_user;
			document.getElementById("task-panel-title").innerHTML = modal_task; 

			if(task === "No Task Found"){
				htmlElements = '<h2 align="center">NO TASK FOUND</h2>';
		      	container.innerHTML = htmlElements;
				amount.innerHTML = '<h4 align="center"> 0 Tasks</h4>';
			} else {
				var arrayOfTask = task.split(",");
				for (i = 0; i < arrayOfTask.length; i+=2){
					htmlElements += '<div class="external-event bg-blue">'+ "(" + arrayOfTask[i+0] + "): "  + arrayOfTask[i+1] +'</div>';
				} 
				container.innerHTML = htmlElements;
				amount.innerHTML = '<h4 align="center">'+ arrayOfTask.length/2 +' Tasks</h4>';
			}
		});

		$('#myModal').on('hide.bs.modal', function () {
			$(this).off('hide.bs.modal');
		});

	    $('#myModal').on('show.bs.modal', function(e) {
	    	var result = document.getElementById("modal_result");
	        var htmlElements = "";

	        var name = e.relatedTarget.dataset.tname;
	        var detail = e.relatedTarget.dataset.tdetail;
	        var membername = e.relatedTarget.dataset.tmembername;
	        var memberschedule = e.relatedTarget.dataset.tmemberschedule;
	        
	        var scheduleArray = memberschedule.split(',');
	        console.log(scheduleArray.length);
	        document.getElementById("modalLabel").innerHTML=name;
	        
	          var timetable = new Timetable();
		      timetable.setScope(0,23)

		      if(membername === "No Members Found in This Project"){
		      	htmlElements = '<h2 align="center">NO MEMBER FOUND IN THIS PROJECT</h2>';
		      	result.innerHTML = htmlElements;
		      } else {
		      	result.innerHTML = '<div class="timetable"></div>';
		      	var memberArray = membername.split(',');
		      	timetable.addLocations(memberArray);
			     if (scheduleArray.length > 1){
			    		for (i = 0; i < scheduleArray.length; i+=9){
				      	timetable.addEvent(scheduleArray[0+i], scheduleArray[1+i], new Date(scheduleArray[2+i],scheduleArray[3+i],scheduleArray[4+i],scheduleArray[5+i],scheduleArray[6+i]), new Date(scheduleArray[2+i],scheduleArray[3+i],scheduleArray[4+i],scheduleArray[7+i],scheduleArray[8+i]), { url: '#' });
				      }
			      }
				var renderer = new Timetable.Renderer(timetable);
				renderer.draw('.timetable');
		      }
	    });

	    function display_member(listMember, phid){
		$.getJSON('/conduit/search_user',{members_id : listMember, phid : phid},function(data) {
			console.log(data);
	    	var arr = $.map(data.users, function(el) { return el });
	    	var users = arr[0]['data'];
	    	var modal_detail = document.getElementById("modalDetail");
	    	var name=[];
	    	var phids=[];
	    	var details = [];
	    	var detail={};

			if (users.length > 0){
				for (i = 0; i < users.length; i++) {
					name.push(users[i]['fields']['realName']);
					phids.push(users[i]['phid']);
				}
				document.getElementById(data.phid).setAttribute("data-tmembername", name);
			}

			$.getJSON('/conduit/get_all_events',{users_id : phids},function(d) {
			if (d.length > 0){
			 	for (i = 0; i < d.length; i++) {
			 		detail = [d[i]['event'], d[i]['name'], d[i]['year'], d[i]['month'], d[i]['day'], d[i]['startHour'], d[i]['startMinute'], d[i]['endHour'] , d[i]['endMinute']];
			 		details.push(detail);
			 	}
			 	// console.log(details);
			 	document.getElementById(data.phid).setAttribute("data-tmemberschedule", details);
			 } else {
			 	document.getElementById(data.phid).setAttribute("data-tmemberschedule", "No schedules");
			 }
			});
		    });
	    }
	</script>