<% content_for :title, "Schedule" %>
<section class="content-header">
    <h1>
        SCHEDULE
    </h1>
</section>

    <!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-8" id="box-calendar">
            <div class="box box-primary">
                <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <div class="main-calendar"></div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /. box -->
    </div>
    <!-- /.col -->
    <div class="col-md-4" id="box-tasks">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title pull-right">Create New Task</h4>
            </div>
            <div class="box-body">
            <!-- the events -->
                <div id="external-events">
                    <form class="manual_date" accept-charset="UTF-8" action="/events" method="post" data-remote="true">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                        <div class="input-group form-inputs">
                            <select class="form-control task_id">
                                <option value="3620194" selected="selected">Task ID</option>
                            </select>
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <input type="text" name="event[title]" id="title_form" readonly="true" class="form-control" placeholder="Title">
                            <input type="textarea" name="event[desc]" class="form-control" placeholder="Notes">
                            <input type="hidden" name="event[user_id]" id="user_form" class="form-control" value="<%= get_oauth_user['result']['phid'] %>">
                            <input type="hidden" name="event[task_id]" id="task_form" class="form-control">
                            <input type="hidden" name="event[project_id]" id="project_form" class="form-control">
                            <input class="string optional form-control input-sm date-range-picker" id="manual_date_range" type="text" name="event[date_range]">
                            <input type="hidden" class="start_hidden" name="event[start]" id="start_default" class="form-control">
                            <input type="hidden" class="end_hidden" name="event[end]" id="end_default" class="form-control">
                        </div>
                        <div class="form-actions">
                            <input type="submit" name="commit" value="Create Event" as="hidden" class="button">
                        </div>
                </form>
                </div>
            </div>
        <!-- /.box-body -->
        </div>
        <div class="box box-solid">
            <%= render 'custom_tasks/index' %>
            <%= yield :custom_tasks %>
        </div>
    </div>
</section>


<script type="text/javascript">

$(document).ready(function() {
    $('.manual_date').on('ajax:error',function(e, xhr, status, error) {
        if(error == "Not Acceptable") {
            var json_response = JSON.parse(xhr.responseText);
            $('#report-error-code').html("(" + json_response['error_code'] + ")");
            $('#report-error-message').html(json_response['error_message']);
            $('.report-message').slideDown('fast');
        } else {
            $('#report-error-code').html("(1000)");
            $('#report-error-message').html("Unknown error! please try again");
            $('.report-message').slideUp('fast');
        }
    }).on('ajax:beforeSend', function(xhr, settings) {
        $('.loading-screen').show();
    }).on('ajax:complete', function(xhr, status) {
        $('.loading-screen').hide();
    });
    $('.task_id').select2({
        ajax: {
            url: "/conduit/search_task",
            data: function (params) {
                var query = {
                context: params.term
            };
            return query;
            },
            delay: 250,
            dataType: "json",
            processResults: function(data) {
            var myRes = [];
            $.each(data['result']['data'], function(index, item){
                myRes.push({
                    'id' : item['id'],
                    'text' : "(" + item['id'] + ") " + item['fields']['name'],
                });
            });
            return { 'results': myRes }
            }
        }
    });
});

$('.task_id').on('select2:select', function(data) {
    var param = "T" + $(data.currentTarget).find("option:selected").val();
    $.getJSON('/conduit/search_task',{context: param},function(data) {
        var arr = $.map(data['result']['data'], function(el) { return el });
        $('#title_form').val("(" + arr[0]['id'] + "): "  + arr[0]['fields']['name']);
        $('#input_form').val(arr[0]['id']);
        $('#project_form').val(arr[0]['attachments']['projects']['projectPHIDs'][0]);
    });
    var date = new Date();
    var day = date.getDate();
    var month = date.getMonth()+1;
    var dates = date.getFullYear() + '-' + (month<10 ? '0' : '') + month + '-' + (day<10 ? '0' : '') + day;
    var start = dates + " 08:00";
    var end = dates + " 09:00";

    $('#start_default').val(start);
    $('#end_default').val(end);
});
</script>
