
<%= simple_form_for @event, :id => 'event-form', remote: true do |f| %>
	<div class="form-inputs">
    <%= f.input :search_task, as: :select, input_html: {class: "task_id"} if /CUSTOM/.match(@event.task_id).nil? %>
		<%= f.input :task_id, as: :hidden, input_html: {id: :task_input} %>
		<%= f.input :title, :readonly => true, hint: 'Required', input_html: {id: :title_input} %>
		<%= f.input :desc, label: 'Notes', as: :text, input_html: {id: :desc} %>
		<%= f.input :tag, as: :select, :collection => @event.tag.keep_if { |v| v.empty? == false }, hint: 'tag anyone', input_html: {id: :tag, multiple: "multiple"} unless /CUSTOM/.match(@event.task_id).nil?%>
		<%= f.input :user_id, as: :hidden, :readonly => true, input_html: {id: :user_input, value: get_oauth_user['result']['phid']} %>
		<%= f.input :project_id, as: :hidden, :readonly => true, input_html: {id: :project_input} %>
		<%= f.input :date_range, as: :hidden, input_html: { class: "form-control input-sm date-range-picker", id: :event_date_range} %>
		<%= f.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
		<%= f.input_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
	</div>

	<div class="form-actions">
		<%= f.button :submit, as: :hidden, input_html: { class: "submit_btn" } %>
		<%= link_to 'Delete',
			event,
			method: :delete,
			class: 'btn btn-danger',
			data: { confirm: 'Are you sure?' },
			remote: true unless @event.new_record? %>
	</div>
<% end %>


<script type="text/javascript">

$(document).ready(function() {
    $('.simple_form').on('ajax:error',function(e, xhr, status, error) {
        if(error == "Not Acceptable") {
            var json_response = JSON.parse(xhr.responseText);
            $('#report-error-code').html("(" + json_response['error_code'] + ")");
            $('#report-error-message').html(json_response['error_message']);
            $('.report-message').slideDown('fast');
        } else {
            $('#report-error-code').html("(1000)");
            $('#report-error-message').html("Unknown error! please try again");
            $('.report-message').slideUp('fast');
        }
    }).on('ajax:beforeSend', function(xhr, settings) {
        $('.loading-screen').show();
    }).on('ajax:complete', function(xhr, status) {
        $('.loading-screen').hide();
    });
    $('.task_id').select2({
        ajax: {
            url: "/conduit/search_task",
            data: function (params) {
                var query = {
                context: params.term
            };
            return query;
            },
            delay: 250,
            dataType: "json",
            processResults: function(data) {
            var myRes = [];
            $.each(data['result']['data'], function(index, item){
                myRes.push({
                    'id' : item['id'],
                    'text' : "(" + item['id'] + ") " + item['fields']['name'],
                });
            });
            return { 'results': myRes }
            }
        }
    });

    $("#tag").select2({
        ajax: {
            url: "/conduit/search_user",
            data: function (params) {
                var query = {
                name_like: params.term
            };
            return query;
            },
            delay: 250,
            dataType: "json",
            processResults: function(data) {
            var myRes = [];
            $.each(data['result']['data'], function(index, item) {
                myRes.push({
                    'id' : item['fields']['username'],
                    'text' : item['fields']['realName'] + " (" + item['fields']['username'] + ") " ,
                });
            });
            return { 'results': myRes }
            }
        }
    });
});

$('.task_id').on('select2:select', function(data) {
    var param = "T" + $(data.currentTarget).find("option:selected").val();
    $.getJSON('/conduit/search_task',{context: param},function(data) {
        var arr = $.map(data['result']['data'], function(el) { return el });
        $('#task_input').val(arr[0]['id']);
        $('#title_input').val("(" + arr[0]['id'] + "): "  + arr[0]['fields']['name']);
        $('#project_input').val(arr[0]['attachments']['projects']['projectPHIDs'][0]);
    });
});
</script>
