<% content_for :title, "Settings" %>

<section class="content-header">
    <h1>
        SETTINGS
    </h1>
</section>

    <!-- Main content -->
<section class="content">
  <!-- /.row -->
    <div class="row">
        <!-- /.col -->
    <!-- /.col -->
        <div id="show-focus-time">
            <div class="col-md-8" id="box-settings">
                <div class="box box-solid">
                    <div class="box-body padding">
        			    <table class="table table-condesed">
                            <tbody>
                            	<tr>
                            		<h3>Focus Time</h3>
                            	</tr>
                                <tr>
                                    <td>
        								<div class="btn-group btn-toggle" day-id="1" target="1-2"> 
        									<button class="btn btn-on1 bg-olive">SET</button>
        								</div>
                                    </td>
                                    <td><label> Monday </label></td>
                                    <td>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker1">
                                                    <input type="text" class="form-control" id="input-1" value="<%= @settings.where(day_id: 1).first.focus_time_start unless @settings.where(day_id: 1).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>to</label>
                                        </div>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker2">
                                                    <input type="text" class="form-control" id="input-2" value="<%= @settings.where(day_id: 1).first.focus_time_end unless @settings.where(day_id: 1).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btn-group btn-toggle" day-id="2" target="3-4"> 
                                            <button class="btn bg-olive btn-on2">SET</button>
                                        </div>
                                    </td>
                                    <td><label> Tuesday </label></td>
                                    <td>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker3">
                                                    <input type="text" class="form-control" id="input-3" value="<%= @settings.where(day_id: 2).first.focus_time_start unless @settings.where(day_id: 2).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>to</label>
                                        </div>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker4">
                                                    <input type="text" class="form-control" id="input-4" value="<%= @settings.where(day_id: 2).first.focus_time_end unless @settings.where(day_id: 2).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                 <tr>
                                    <td>
                                        <div class="btn-group btn-toggle" day-id="3" target="5-6"> 
                                            <button class="btn bg-olive btn-on3">SET</button>
                                        </div>
                                    </td>
                                    <td><label> Wednesday </label></td>
                                    <td>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker5">
                                                    <input type="text" class="form-control" id="input-5" value="<%= @settings.where(day_id: 3).first.focus_time_start unless @settings.where(day_id: 3).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>to</label>
                                        </div>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker6">
                                                    <input type="text" class="form-control" id="input-6" value="<%= @settings.where(day_id: 3).first.focus_time_end unless @settings.where(day_id: 3).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btn-group btn-toggle" day-id="4" target="7-8"> 
                                            <button class="btn bg-olive btn-on4">SET</button>
                                        </div>
                                    </td>
                                    <td><label> Thursday </label></td>
                                    <td>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker7">
                                                    <input type="text" class="form-control" id="input-7" value="<%= @settings.where(day_id: 4).first.focus_time_start unless @settings.where(day_id: 4).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>to</label>
                                        </div>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker8">
                                                    <input type="text" class="form-control" id="input-8" value="<%= @settings.where(day_id: 4).first.focus_time_end unless @settings.where(day_id: 4).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btn-group btn-toggle" day-id="5" target="9-10"> 
                                            <button class="btn bg-olive btn-on5" >SET</button>
                                        </div>
                                    </td>
                                    <td><label> Friday </label></td>
                                    <td>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker9">
                                                    <input type="text" class="form-control" id="input-9" value="<%= @settings.where(day_id: 5).first.focus_time_start unless @settings.where(day_id: 5).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>to</label>
                                        </div>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker10">
                                                    <input type="text" class="form-control" id="input-10" value="<%= @settings.where(day_id: 5).first.focus_time_end unless @settings.where(day_id: 5).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btn-group btn-toggle" day-id="6" target="11-12"> 
                                            <button class="btn bg-olive btn-on6">SET</button>
                                        </div>
                                    </td>
                                    <td><label> Saturday </label></td>
                                    <td>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker11">
                                                    <input type="text" class="form-control" id="input-11" value="<%= @settings.where(day_id: 6).first.focus_time_start unless @settings.where(day_id: 6).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>to</label>
                                        </div>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker12">
                                                    <input type="text" class="form-control" id="input-12" value="<%= @settings.where(day_id: 6).first.focus_time_end unless @settings.where(day_id: 6).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="btn-group btn-toggle" day-id="7" target="13-14"> 
                                            <button class="btn bg-olive btn-on7">SET</button>
                                        </div>
                                    </td>
                                    <td><label> Sunday </label></td>
                                    <td>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker13">
                                                    <input type="text" class="form-control" id="input-13" value="<%= @settings.where(day_id: 7).first.focus_time_start unless @settings.where(day_id: 7).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>to</label>
                                        </div>
                                        <div class="col-md-5" id="box-settings">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker14">
                                                    <input type="text" class="form-control" id="input-14" value="<%= @settings.where(day_id: 7).first.focus_time_end unless @settings.where(day_id: 7).first.nil? %>"/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<script type="text/javascript">
    $(document).ready(function() {

        $('.btn-toggle').click(function() {
            var day_id = $(this).attr('day-id');
            var target = $(this).attr('target').split('-');
            var btn_on = $('.btn-on' + target[0]);

            if(btn_on.hasClass("active") === false){

                var start = $('#input-'+ target[0]).val();
                var end = $('#input-'+ target[1]).val();

                if(start.length != 0 && end.length !=0){
                    $.ajax({
                        url: "/settings/set_focus",
                        type: "POST",
                        dataType: "json",
                        data: { user_id: "<%= get_oauth_user['result']['phid'] %>", day_id: day_id, focus_time_start: start, focus_time_end: end },
                        success: function(data) {
                            alert("Your focus time is successfully set to the schedule");
                        },
                        beforeSend: function(xhr, settings) {
                            $('.loading-screen').show();
                        }

                    }).always(function(data) {
                        $('.loading-screen').hide();
                    });
                }else{

                    $('#report-error-code').html('<%= @settings_error.code(1) %>');
                    $('#report-error-message').html('<%= @settings_error.message(1) %>');
                    $('.report-message').slideDown('fast');
                } 
            }else{
                btn_on.removeClass("btn-info active");
                btn_on.addClass("btn-default");
                btn_off.removeClass("btn-default"); 
                btn_off.addClass("btn-info active");
            }
        });
	});
    
    $("[id^='datetimepicker']").datetimepicker({
        format: 'HH:mm',
        icons: {
            time: "fa fa-clock-o",
            up: "fa fa-angle-up fa-3x",
            down: "fa fa-angle-down fa-3x"
        }
    });
</script>