
            <div class="box-header with-border">
                <h4 class="box-title pull-right">Created Custom Tasks</h4>
            </div>
            <div class="box-body">
          <!-- the events -->
                <div id="external-events" class="external-events-other">
                    <% customtasks = CustomTask.all %>
                    <% customtasks.each do |ct| %>
                        <div class="external-event <%= ct.color %>">
                            <%= ct.title %>
                            <div class="pull-right">
                                <%= link_to "x", ct, method: :delete %>
                            </div>
                        </div>
                    <% end %>
                    <% if customtasks.size == 0 %>
                        No custom activity yet.
                    <% end %>
                </div>
            </div>
        <!-- /.box-body -->

            <div class="box-header with-border">
                <h3 class="box-title pull-right">Create new Custom Task</h3>
            </div>
            <div class="box-body">
          <!-- /btn-group -->

                <div class="input-group" id="customtask-form">
                    <%= simple_form_for CustomTask.new, :id => 'custom-form', remote: true do |f| %>

                        <%= f.text_field :title, placeholder: "custom task title...", required: true %>
                        <%= f.submit "add!", class: 'btn customtask-button pull-right' %>
                    <% end %>
            <!-- /btn-group -->
                </div>
          <!-- /input-group -->
            </div>

            <script type="text/javascript">
              $('.simple_form').on('ajax:error',function(e, xhr, status, error) {
                  if(error == "Not Acceptable") {
                      var json_response = JSON.parse(xhr.responseText);
                      $('#report-error-code').html("(" + json_response['error_code'] + ")");
                      $('#report-error-message').html(json_response['error_message']);
                      $('.report-message').slideDown('fast');
                  } else {
                      $('#report-error-code').html("(1000)");
                      $('#report-error-message').html("Unknown error! please try again");
                      $('.report-message').slideUp('fast');
                  }
              }).on('ajax:beforeSend', function(xhr, settings) {
                  $('.loading-screen').show();
              }).on('ajax:complete', function(xhr, status) {
                  $('.loading-screen').hide();
                  if($('#custom_task_title').val().length > 0) {
                    location.reload();
                  } else {
                    $('#report-error-code').html("(4001)");
                    $('#report-error-message').html("Title required!");
                    $('.report-message').slideDown('fast');
                  }
              });
            </script>
