
            <div class="box-header with-border">
                <h4 class="box-title pull-right">Created Custom Tasks</h4>
            </div>
            <div class="box-body">
          <!-- the events -->
                <div id="external-events" class="external-events-other">
                    <% customtasks = CustomTask.all %>
                    <% customtasks.each do |ct| %>
                        <div class="external-event <%= ct.color %>">
                            <%= ct.title %>
                            <div class="pull-right" id="delete-button">
                                <%= link_to "x", ct, {method: :delete}, {:style=>'color:white;'}%>
                            </div>
                        </div>
                    <% end %>
                    <% if customtasks.size == 0 %>
                        No custom activity yet.
                    <% end %>
                </div>
            </div>
        <!-- /.box-body -->

            <div class="box-header with-border">
                <h3 class="box-title pull-right">Create new Custom Task</h3>
            </div>
            <div class="box-body">
                <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                    <ul class="fc-color-picker" id="color-chooser">
                        <li><a class="text-maroon" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-olive" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-pink" href="#"><i class="fa fa-square"></i></a></li>
                        <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                    </ul>
                </div>
          <!-- /btn-group -->
                <div class="input-group" id="customtask-form">
                     <%= form_for(CustomTask.new) do |f| %>
                        <%= f.text_field :title %>
                          <%= f.submit %>
                    <% end %>
            <!-- /btn-group -->
                </div>
          <!-- /input-group -->
            </div>
