<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @custom_task.title %>
</p>

<p>
  <strong>Color:</strong>
  <%= @custom_task.color %>
</p>

<%= link_to 'Edit', edit_custom_task_path(@custom_task) %> |
<%= link_to 'Back', custom_tasks_path %>
