<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Jadvalee | <%= content_for?(:title) ? yield(:title) : "Template" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Template" %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'%>

    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'https://code.jquery.com/ui/1.11.4/jquery-ui.min.js'%>
  </head>
  <body class="hold-transition skin sidebar-mini sidebar-collapse" margin="0">

  <div class="modal modalReminder" id="reminder">
    <div class="modal-content" id="modalContent">
    <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reminder</h4>
              </div>

    <div id="reminderBody" class="modal-body">
      <img id=logo src="/images/logo.png">
    <div>
      <h4> The time set for your current task has end! </h4>
    </div>
    <br>
    <div id="reminderButtons">
      Do you want to
      <a href="/dashboard/end_running_task" class="btn btn-warning">Continue to next task</a>
      Or
      <button id="buttonAddTime" class="btn btn-gray">Add more time</button>

      <div id="wrapperAddTime">
        <div id="content">
          <form action="/dashboard/update_end_time" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            Add: <input id="addMinutes" type="number" name="minutes" min="0" step="30" value="30"> minutes
          <input type="submit" value="OK">

          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


  <div class="report-message">
    <div class="row">
      <div class="alert col-sm-push-3 col-sm-pull-3 col-sm-6 alert-danger alert-dismissable">
          <i class="fa fa-ban"></i>
          <button type="button" class="close" onclick="$('.report-message').slideUp('fast')">×</button>
          <b id="report-error-code"></b> <div id="report-error-message"> </div>
      </div>
    </div>
  </div>
  <div class="loading-screen">

      <div class="loading-bg"> </div>
      <div class="animated-gif">
        <img src="/images/loader.gif">
        <label> Please wait.. </label>
      </div>
  </div>

<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar">
      <img id=logo src="/images/logo.png" class="pull-left">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="<%= get_oauth_user['result']['image'] %>" class="user-image" alt="User Image">
              <span class="hidden-xs"> <%= get_oauth_user['result']['userName'] %> <span class="caret"></span></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="<%= get_oauth_user['result']['image'] %>" class="img-circle" alt="User Image">
                <p>
                  <%= get_oauth_user['result']['realName'] %>
                </p>
              </li>
              <!-- Menu Body -->

              <!-- Menu Footer-->
              <li class="user-footer" class="pull-left">
                <div class="pull-left">
                  <a href="<%= get_oauth_user['result']['uri'] %> " class="btn btn-default btn-flat">My Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- search form -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <% if current_page?('/dashboard') || current_page?('/dashboard/progress') %>
        <li class="active">
        <% else %>
        <li>
        <% end %>
          <a href="/dashboard"><i class="fa fa-bar-chart"></i> </a>
        </li>
        <% if current_page?('/schedule') %>
        <li class="active">
        <% else %>
        <li>
        <% end %>
          <a href="/schedule"><i class="fa fa-calendar"></i> </a>
        </li>
        <% if current_page?('/search') %>
        <li class="active">
        <% else %>
        <li>
        <% end %>
          <a href="/search"><i class="fa fa-users"></i> </a>
        </li>
        <% if current_page?('/settings') %>
        <li class="active">
        <% else %>
        <li>
        <% end %>
          <a href="/settings"><i class="fa fa-cog"></i> </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

      <%= yield %>

    </div>
    <!-- /.col -->
    </div>
  <!-- /.row -->
</section>

      <div id='remote_container'>

      </div>
      <!-- /.row -->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right">
      <a href="http://peentar.com"> Peentar </a> | <a href="http://teamjadvalee.wordpress.com"> Blog </a>
    </div>
    <div class="text-center">PPLD1 - Team Jadvalee | 2017
    </div>
  </footer>
    </div>
  </body>
</html>

<style type="text/css">
    body {
      margin: 0;
    }

  .modalReminder {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

#modalContent {
    background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid #888;
    width: 50%;
}
#wrapperAddTime {
  overflow: hidden;
  transition: height 200ms;
  height: 0;
}
#addMinutes{
  width: 50px;
}
#reminderBody{
  display: flex;
    flex-direction: column;
    align-items: center;
}
#reminderButtons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reminderButtons button{
  height: 40px;
  width: 200px;
  margin: 4px;
  color: black;
}

</style>

<script type="text/javascript">
  <% running_task = get_user_running_task %>

  var notifShow = 0;
  function checkTime(i) {
      return (i < 10) ? "0" + i : i;
  }

  $( document ).on('ready', function() {
    $('.loading-screen').hide();
    <% unless flash['error_code'].nil? %>
      $('#report-error-code').html("(" + "<%= flash['error_code'] %>" + ")");
      $('#report-error-message').html("<%= flash['error_message'] %>");
      $('.report-message').slideDown('fast');
    <% else %>
      $('.report-message').hide();
    <% end %>
    <% if running_task != nil %>
      notifShow = 1;
      window.setInterval(eventEndTrigger, 1200);
    <% end %>
  });

  function eventEndTrigger(){
    var today = new Date(),
        year = today.getFullYear(),
        month = checkTime(today.getMonth()+1),
        day = checkTime(today.getDate()),
        h = checkTime(today.getHours()),
        m = checkTime(today.getMinutes()),
        s = checkTime(today.getSeconds());
    var stringToday = year + "-" + month + "-" + day + " " + h + ":" + m + ":" + s + " +0700";
    <% unless running_task.nil? %>
      if(notifShow > 0 && <%= running_task.end.to_i*1000%> <= new Date().getTime() && <%= running_task.end.to_i*1000%> > <%= running_task.start.to_i*1000%> ) {
        notifyMe();
        $('#reminder').modal('show');
      }
    <% end %>
  }

 function notifyMe() {
    if(notifShow > 0) {
      notifShow = 0;
      if (!("Notification" in window)) {
          alert("This browser does not support desktop notification");
      }

      else if (Notification.permission === "granted") {
          var notification = new Notification("Your task has ended!", {
            body: "Click to decide what to do next.",
            icon: "/images/logo.png",
            tag: "Jadvalee"
          });

          notification.onclick = function(){
            notification.close();
          }
      }

      else if (Notification.permission !== 'denied') {
          Notification.requestPermission(function (permission) {

              if (!('permission' in Notification)) {
                  Notification.permission = permission;
              }

              if (permission === "granted") {
                  var notification = new Notification("Your task has ended!", {
                    body: "Click to decide what to do next.",
                    icon: "/images/logo.png",
                    tag: "Jadvalee"
                  });

                  notification.onclick = function(){
                    notification.close();
                  }
              }
          });
      }
    }
  }
  $(function() {
  var b = $("#buttonAddTime");
  var w = $("#wrapperAddTime");
  var c = $("#content");

  b.click(function() {

    if (w.hasClass('open')) {
      w.removeClass('open');
      w.height(0);
    } else {
      w.addClass('open');
      w.height(c.outerHeight(true));
    }

  });
});

</script>
